In [34]:
# Dependencies

import pandas as pd
import numpy as np
import os
import csv
import matplotlib.pyplot as plt

In [35]:
# set path
csv_path=os.path.join("Resources","Motor_Vehicle_Crashes_-_Case_Information__Three_Year_Window.csv")

# open csv
NY_crashes_df=pd.read_csv(csv_path)
NY_crashes_df.head()

,Year,Crash Descriptor,Time,Date,Day of Week,Police Report,Lighting Conditions,Municipality,Collision Type Descriptor,County Name,Road Descriptor,Weather Conditions,Traffic Control Device,Road Surface Conditions,DOT Reference Marker Location,Pedestrian Bicyclist Action,Event Descriptor,Number of Vehicles Involved
0,2014,Injury Accident,5:35,6/18/2014,Wednesday,Y,Dawn,NEW YORK,OTHER,NEW YORK,Straight and Level,Clear,None,Dry,NaN,"Crossing, No Signal or Crosswalk","Pedestrian, Collision With",1
1,2014,Property Damage Accident,15:28,11/6/2014,Thursday,Y,Daylight,HENRIETTA,RIGHT ANGLE,MONROE,Straight and Level,Rain,None,Wet,NaN,Not Applicable,"Other Motor Vehicle, Collision With",2
2,2014,Property Damage Accident,15:27,3/19/2014,Wednesday,Y,Daylight,CICERO,OVERTAKING,ONONDAGA,Straight and Level,Cloudy,None,Dry,NaN,Not Applicable,"Other Motor Vehicle, Collision With",2
3,2014,Property Damage Accident,4:03,6/23/2014,Monday,Y,Dark-Road Unlighted,COLESVILLE,OTHER,BROOME,Straight and Grade,Clear,None,Dry,88I91011017,Not Applicable,Deer,1
4,2014,Property Damage Accident,15:28,9/27/2014,Saturday,Y,Daylight,HECTOR,OTHER,SCHUYLER,Straight and Level,Cloudy,None,Dry,79 63061019,Not Applicable,Deer,1

In [36]:
# NY_crashes_df.dtypes

In [37]:
# convert object to datetime
NY_crashes_df['Time']=pd.to_datetime(NY_crashes_df['Time'], format='%H:%M', errors='ignore')
NY_crashes_df['Date']=pd.to_datetime(NY_crashes_df['Date'], format='%m/%d/%Y', errors='ignore')

In [38]:
# NY_crashes_df.info()

In [39]:
# count the crashes per day for each year 
gr_NY_crashes_df = NY_crashes_df.groupby(['Year','Day of Week'])['Date'].agg(['count'])
# gr_NY_crashes_df

In [40]:
avg_day_crashes=gr_NY_crashes_df.groupby(['Year','Day of Week']).mean()
avg_day_crashes

                  count
Year Day of Week
2014 Friday       49259
     Monday       42866
     Saturday     39891
     Sunday       32908
     Thursday     45444
     Tuesday      43480
     Wednesday    45604
2015 Friday       48334
     Monday       42205
     Saturday     39002
     Sunday       34147
     Thursday     44245
     Tuesday      43163
     Wednesday    43460
2016 Friday       50088
     Monday       43522
     Saturday     39804
     Sunday       33653
     Thursday     45643
     Tuesday      45308
     Wednesday    43890

In [41]:
# create a list for years
Years=avg_day_crashes.reset_index()['Year'].unique()
print(Years)

[2014 2015 2016]

In [42]:
# add Total column to the dataframe
avg_day_crashes['Total']=np.nan

In [43]:
# loop over the dataframe and calculate the number of crashes for each year
for year in Years:
    Total=avg_day_crashes.loc[year]['count'].sum()
    print(Total)
    avg_day_crashes.loc[year,'Total']=Total

# avg_day_crashes

299452
294556
301908

In [44]:
# calculate the percentage for each day of the week
perc_day_crashes=(avg_day_crashes['count']/avg_day_crashes['Total'])*100

In [45]:
# convert to dataframe
perc_day_crashes_df=pd.DataFrame(perc_day_crashes, columns=['Percentage'])

In [46]:
# sort the data 
week_day_data=perc_day_crashes_df.sort_values(["Year","Percentage"], ascending=False).round(2)
week_day_data

                  Percentage
Year Day of Week
2016 Friday            16.59
     Thursday          15.12
     Tuesday           15.01
     Wednesday         14.54
     Monday            14.42
     Saturday          13.18
     Sunday            11.15
2015 Friday            16.41
     Thursday          15.02
     Wednesday         14.75
     Tuesday           14.65
     Monday            14.33
     Saturday          13.24
     Sunday            11.59
2014 Friday            16.45
     Wednesday         15.23
     Thursday          15.18
     Tuesday           14.52
     Monday            14.31
     Saturday          13.32
     Sunday            10.99

In [47]:
week_day_data.reset_index()

    Year Day of Week  Percentage
0   2016      Friday       16.59
1   2016    Thursday       15.12
2   2016     Tuesday       15.01
3   2016   Wednesday       14.54
4   2016      Monday       14.42
5   2016    Saturday       13.18
6   2016      Sunday       11.15
7   2015      Friday       16.41
8   2015    Thursday       15.02
9   2015   Wednesday       14.75
10  2015     Tuesday       14.65
11  2015      Monday       14.33
12  2015    Saturday       13.24
13  2015      Sunday       11.59
14  2014      Friday       16.45
15  2014   Wednesday       15.23
16  2014    Thursday       15.18
17  2014     Tuesday       14.52
18  2014      Monday       14.31
19  2014    Saturday       13.32
20  2014      Sunday       10.99

In [55]:
# visualize the comparison for Years
# plt.bar(week_day_data,'Percentage')
# labels=['Years']
# ax.set_ylable('Percentage')

In [49]:
# weather condition
weather_condition=NY_crashes_df['Weather Conditions'].unique()
weather_condition

array(['Clear', 'Rain', 'Cloudy', 'Unknown', 'Snow', 'Fog/Smog/Smoke',
       'Sleet/Hail/Freezing Rain', 'Other*'], dtype=object)

In [ ]:
weather_condition=weather_condition.astype(str)
weather_condition